<section>
<h1>My travels</h1>
<main class="form-wrapper">
<ul>
  <% @bookings.each do |booking| %>
    <li>Planet: <%= booking.planet.name %></li>

    <li>From:       <%= booking.start_date %></li>

    <li>To: <%= booking.end_date %></li>

    <li><%= booking.total_price %></li>

    <li>Status: <%= booking.status %></li>

    <% end %>
</ul>
 </main>
 </section>
