<section>
  <h1>Edit a planet</h1>
  <main class="form-wrapper">
<%= simple_form_for(@planet) do |f| %>
 <%= f.input :name %>
      <%= f.input :description, as: :text %>
      <%= f.input :location, as: :string %>
      <%= f.input :price_for_one_night, as: :decimal %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit class: "form-btn"  %>
<% end %>
</main>
</section>
