<main>
	<h1><%= @planet.name %></h1>
    <div class="planet-details">
      <div class="comp1">
        <span><%= @planet.name %></span>
        <span class="card-rating">★4.64</span>
        <span class="material-symbols-outlined">travel_explore</span>
        <span><%= @planet.location %></span>
        <span><%= @planet.price_for_one_night %></span>
        <p><%= @planet.description %></p>
        <span><%= @planet.user_id %></span>
        <div class="">
          <%= link_to "Book Now", new_planet_booking_path(@planet), class: "card-btn" %>
        </div>
      </div>
    </div>
</main>

<style>
	main {
		padding: 60px
	}
	h1 {
		margin-bottom: 40px;
	}
	.comp-1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.card-rating {
		font-size: 12px;
		padding: 8px;
		background: var(--surface-z3);
		border-radius: 100vw;
	}
</style>
